<p id="notice"><%= notice %></p>

<p>
  <b>[msg:</b>
  <%= @msg.[msg %>
</p>

<p>
  <b>Own:</b>
  <%= @msg.own %>
</p>

<p>
  <b>Read:</b>
  <%= @msg.read %>
</p>


<%= link_to 'Edit', edit_msg_path(@msg) %> |
<%= link_to 'Back', msgs_path %>
